= content_for :header do
  %menu.main-nav
    - MainMenu.order(:position).each do |menu_item|
      -# remove whitespace
      %span<>
        =link_to menu_item.destination, class: 'main-nav-link' do
          %figure
            =image_tag menu_item.icon.url(:normal), :alt => menu_item.desc
            %figcaption
              = menu_item.title
      =#link_to 'Gry Arty', '/'
      =#link_to 'Reklama', '/'
      =#link_to 'Rysunek', '/'
      =#link_to 'Malarstwo', '/'
      =#link_to 'Fotografia', '/'
      =#link_to 'Film', '/'

%article.bio
  %h1 Marcin Turecki

  %p
    ur. 03.01.1983 r.
    Uprawia rysunek, malarstwo i fotografię, tworzy filmy oraz instalacje, projektuje grafikę. Zajmuje się pracą badawczą z zakresu historii sztuki współczesnej.

  %p
    Inicjator i uczestnik różnego rodzaju wydarzeń kulturowych i akcji artystycznych (m. in. organizacja wystaw zbiorowych w Krakowie i Niepołomicach, udział w akcji parateatralnej „Filoktet” w ramach Krakowskich Reminiscencji Teatralnych). Twórca filmów i animacji (jak film „Próba wizualizacji dźwięku” wyemitowany w TVP Kultura). Udział w plenerach dla wyróżnionych (m. in. w Saint Bonnet les Oules we Francji). Laureat wielu konkursów (np. ogólnopolski konkurs malarski pt. „Nuda” – Kraków, I nagroda, konkurs na „Obraz Roku” – Galeria „Fakt”, N. Wiśnicz – I nagroda, konkurs na pracę dyplomową – Bochnia, I nagroda) i uczestnik wystaw (np. wystawa na Krajowej Konferencji Rysunku Uczelni i Instytutów Artystycznych – Wrocław, Ogólnopolska Wystawa Rysunku Studenckiego – Toruń, wystawa „Stanisław Wyspiański – poeta, malarz” – Kraków, wystawa fotografii „Jeden dzień z życia miasta” – Kraków).

  %p
    Korzysta z różnych mediów oraz niekonwencjonalnych technik malarskich i graficznych. Inspiruje się muzyką, dźwiękiem, prozą i estetyką druku. Prace przyjmują charakter konceptualny i układane są w cykle.


  %p
    KONTAKT

  %p
    30-611 Kraków, ul Stojałowskiego 37/47
    %br
    tel.:  506 121 744
    %br
    marcinturecki@gmail.com
    %br
    www.marcinturecki.art.pl

%article.cv
  %h1 Curriculum Vitae
  %section.education
    %header.topic
      %h3
        WYKSZTAŁCENIE:
      %p
        Akademia Sztuk Pięknych im. Jana Matejki w Krakowie, kierunek Malarstwo
        dyplom z wyróżnieniem, publikacja w "Sztuka.pl" (2010), "Rita Baum" - "Przestrzenne słowa Marcin Tureckigo" (2011)

      %p
        Uniwersytet Jagielloński w Krakowie, kierunek Historia sztuki
        publikacja pracy magisterskiej "Żywioły – źródła tożsamości Zbigniewa Bajka" (2010)

      %p
        Liceum Plastyczne im. Jana Matejki w Nowym Wiśniczu, kierunek Ceramika artystyczna i użytkowa
        praca dyplomowa z wyróżnieniem - I nagraoda w przeglądzie dyplomów artystycznych w powiecie Bocheńskim
        matura z polskiego - celujący :)

    %ul.cv-list
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title tytuł
            %time.cv-item-period wrzesień 2009
          .cv-item-body
            %p bla bla


  %section.experience
    %h3
      DOŚWIADCZENIE ZAWODOWE: 
    %p
      Agencja Reklamy Wenecja Sp. z o.o.
      grafik, specjalista ds. reklamy

    %p
      projektowanie linii graficznych marek i firm
      opracowywanie ksiąg identyfikacji wizualnej
      skład książek, katalogów
      projektowanie materiałów reklamowych
      przygotowanie do druku
      projektowanie stron www
      pomoc przy organizacji wydarzeń artystycznych, eventów, kampanii reklamowych

    %p
      realizowanie wolnych zleceń

    %p
      prace graficzne dla firm (Szkoła Futbolu Staniątki, Coerver Coaching, Małopolski Związek Szachowy i in.)

    %p
      dekoracje malarskie wnętrz budynków prywatnych i publicznych (Hotel Europejski w Krakowie, szpital dziecięcy na ul. Strzeleckiej w Krakowie, kryta pływalnia w Niepołomicach, kościół w Lipnicy Murowanej)

    %p
      Ilustrowanie bajek autorstwa Aleksandry Kwarciak
  %section.skills
    %h3 UMIEJĘTNOŚCI
    %p
      Photoshop
      %br
      Illustrator
      %br
      In Design 
      %br
      3D Studio Max
      %br
      Unreal Developer's Kit
      %br
      ZBrush
      %br
      After Effect
      %br
      rysunek odręczny
      %br
      zdolności pisarskie
      %br
      fotografia artystyczna

    %p
      dodatkowe kwalifikacje:

    %p
      Prawo jazdy kat. B
      %br
      język angielski 
      %br
      język francuski 
  %section.interests
    %h3 ZAINTERESOWANIA: 
    %p
      sztuki plastyczne, literatura, fotografia, muzyka i dźwięk


