= content_for :header do
  %menu.main-nav
    - MainMenu.order(:position).each do |menu_item|
      -# remove whitespace
      %span<>
        =link_to menu_item.destination, class: 'main-nav-link' do
          %figure
            =image_tag menu_item.icon.url(:normal), :alt => menu_item.desc
            %figcaption
              = menu_item.title
      =#link_to 'Gry Arty', '/'
      =#link_to 'Reklama', '/'
      =#link_to 'Rysunek', '/'
      =#link_to 'Malarstwo', '/'
      =#link_to 'Fotografia', '/'
      =#link_to 'Film', '/'

%article.bio
  %h1 Marcin Turecki

  %p
    ur. 03.01.1983 r.
    Uprawia rysunek, malarstwo i fotografię, tworzy filmy oraz instalacje, projektuje grafikę. Zajmuje się pracą badawczą z zakresu historii sztuki współczesnej.

  %p
    Inicjator i uczestnik różnego rodzaju wydarzeń kulturowych i akcji artystycznych (m. in. organizacja wystaw zbiorowych w Krakowie i Niepołomicach, udział w akcji parateatralnej „Filoktet” w ramach Krakowskich Reminiscencji Teatralnych). Twórca filmów i animacji (jak film „Próba wizualizacji dźwięku” wyemitowany w TVP Kultura). Udział w plenerach dla wyróżnionych (m. in. w Saint Bonnet les Oules we Francji). Laureat wielu konkursów (np. ogólnopolski konkurs malarski pt. „Nuda” – Kraków, I nagroda, konkurs na „Obraz Roku” – Galeria „Fakt”, N. Wiśnicz – I nagroda, konkurs na pracę dyplomową – Bochnia, I nagroda) i uczestnik wystaw (np. wystawa na Krajowej Konferencji Rysunku Uczelni i Instytutów Artystycznych – Wrocław, Ogólnopolska Wystawa Rysunku Studenckiego – Toruń, wystawa „Stanisław Wyspiański – poeta, malarz” – Kraków, wystawa fotografii „Jeden dzień z życia miasta” – Kraków).

  %p
    Korzysta z różnych mediów oraz niekonwencjonalnych technik malarskich i graficznych. Inspiruje się muzyką, dźwiękiem, prozą i estetyką druku. Prace przyjmują charakter konceptualny i układane są w cykle.


  .topic
    %h3 KONTAKT

  %p
    30-611 Kraków, ul Stojałowskiego 37/47
    %br
    tel.:  506 121 744
    %br
    = link_to 'marcinturecki@gmail.com', 'mailto:marcinturecki@gmail.com'
    %br
    = link_to 'www.marcinturecki.art.pl', 'http://www.marcinturecki.art.pl'

%article.cv
  %h1 Curriculum Vitae
  %section.education
    %header.topic
      %h3 WYKSZTAŁCENIE:
    %ul.cv-list
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title Akademia Sztuk Pięknych im. Jana Matejki w Krakowie, kierunek Malarstwo
            .cv-item-meta
              %time.cv-item-period wrzesień 2009
          .cv-item-body
            %p dyplom z wyróżnieniem, publikacja w "Sztuka.pl" (2010), "Rita Baum" - "Przestrzenne słowa Marcin Tureckigo" (2011)
    %ul.cv-list
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title Uniwersytet Jagielloński w Krakowie, kierunek Historia sztuki
            .cv-item-meta
              %time.cv-item-period marzec 2009
          .cv-item-body
            %p publikacja pracy magisterskiej "Żywioły – źródła tożsamości Zbigniewa Bajka" (2010)
    %ul.cv-list
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title Liceum Plastyczne im. Jana Matejki w Nowym Wiśniczu, kierunek Ceramika artystyczna i użytkowa
            .cv-item-meta
              %time.cv-item-period maj 2003
          .cv-item-body
            %p
              praca dyplomowa z wyróżnieniem - I nagraoda w przeglądzie dyplomów artystycznych w powiecie Bocheńskim
              %br
              matura z polskiego - celujący :)


  %section.experience
    %header.topic
      %h3 DOŚWIADCZENIE ZAWODOWE: 
    %ul.cv-list
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title 
              Agencja Reklamy Wenecja Sp. z o.o.
              %br
              grafik, specjalista ds. reklamy
            .cv-item-meta
              %time.cv-item-period luty 2010 &ndash; obecnie
              .cv-item-power stanowisko:
              %p.cv-item-responsibilities obowiązki:
          .cv-item-body
            %p
              projektowanie linii graficznych marek i firm
              opracowywanie ksiąg identyfikacji wizualnej
              skład książek, katalogów
              projektowanie materiałów reklamowych
              przygotowanie do druku
              projektowanie stron www
              pomoc przy organizacji wydarzeń artystycznych, eventów, kampanii reklamowych
      %li.cv-item
        %article
          %header.cv-item-header
            %h4.cv-item-title 
              realizowanie wolnych zleceń
            .cv-item-meta
              %time.cv-item-period 2000 &ndash; obecnie
          .cv-item-body
            %p
              %strong prace graficzne dla firm
              (Szkoła Futbolu Staniątki, Coerver Coaching, Małopolski Związek Szachowy i in.)

            %p
              %strong dekoracje malarskie wnętrz budynków prywatnych i publicznych
              (Hotel Europejski w Krakowie, szpital dziecięcy na ul. Strzeleckiej w Krakowie, kryta pływalnia w Niepołomicach, kościół w Lipnicy Murowanej)

            %p
              %strong Ilustrowanie bajek
              autorstwa Aleksandry Kwarciak
  %section.skills
    %header.topic
      %h3 UMIEJĘTNOŚCI
    .cv-item
      %article
        .cv-skill-level
          \/////////
        .cv-skill-name
          Photoshop
        .cv-skill-level
          \/////////
        .cv-skill-name
          Illustrator
        .cv-skill-level
          \////////
        .cv-skill-name
          In Design 
        .cv-skill-level
          \///
        .cv-skill-name
          3D Studio Max
        .cv-skill-level
          \//
        .cv-skill-name
          Unreal Developer's Kit
        .cv-skill-level
          \//
        .cv-skill-name
          ZBrush
        .cv-skill-level
          \///
        .cv-skill-name
          After Effect
        .cv-skill-level
          \/////////
        .cv-skill-name
          rysunek odręczny
        .cv-skill-level
          \/////////
        .cv-skill-name
          zdolności pisarskie
        .cv-skill-level
          \///////
        .cv-skill-name
          fotografia artystyczna
  %section.skills
    %header.topic
      %h4 dodatkowe kwalifikacje:
    .cv-item
      %article
        .cv-skill-level
          %br
        .cv-skill-name
          Prawo jazdy kat. B
        .cv-skill-level
          \///////
        .cv-skill-name
          język angielski 
        .cv-skill-level
          \//
        .cv-skill-name
          język francuski 
  %section.interests
    %header.topic
      %h3 ZAINTERESOWANIA: 
    .cv-item
      %article
        .cv-item-body
          %p
            sztuki plastyczne, literatura, fotografia, muzyka i dźwięk
