html

body
  background-color: $background-color

.main-nav

  a
    display: inline-block
    text-decoration: none

    &:hover
      color: $menu-active-font-color
      text-decoration: underline
  
  
